@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');



:root {
    --font1: 'Abril Fatface', cursive;
    --font2: 'Albert Sans', sans-serif;

    --color1: #EEF0F3;
    --color2: #663399;
    --color3: #D4AF37;
    /*para icones*/
    --color4: #B8860B;
    --color5: #0A0A0A;

}




/* ===== Fundo Spline ===== */
.spline-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    opacity: 0;

    transition: opacity 1.5s ease;

}

.spline-bg.mostrar {
    opacity: 1;
}

.spline-bg spline-viewer {
    width: 100%;
    height: 100%;
    display: block;
}






body {
    font-family: var(--font1);
    color: var(--color1);
    overflow-x: hidden;
    background: #0A0A0A;
}


#home {
    background: transparent;
    backdrop-filter: none;

}

#home h1 {
    margin: 2px;
}


html {
    scroll-behavior: smooth;
}

.secao {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 12%;
    background: transparent;
    backdrop-filter: blur(3px);
    transition: background 0.7s;
}



.secao+.secao {
    border: none;
}


h1,
h2 {
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
    color: var(--color3);
    margin-bottom: 15px;
}

.conteudo {
    font-family: var(--font2);
    font-size: 25px;
    color: var(--color1);
    font-weight: 400;
}

.conteudo h3 {
    font-size: 20px;
    color: var(--color3);
    margin-bottom: 3px;
}

p {
    text-align: left;
    max-width: 800px;
    line-height: 1.7;
    color: #ddd;
}

/* Botão de download */
.btn-download {
    background: var(--color3);
    border: none;
    padding: 10px 28px;
    font-size: 15px;
    color: #222;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 25px;
}

.btn-download:hover {
    background: black;
    color: var(--color3);
}

#sobre .sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

#sobre .texto {
    flex: 1 1 55%;
}

#sobre .imagem-perfil {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sobre .imagem-perfil img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color1);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Cards projetos*/

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    font-family: var(--font1);
    color: var(--color1);
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);

}

.card:hover h3,
.card:hover p {
    color: var(--color4);
}


.card h3 {
    margin-bottom: 10px;
}

.card h3:hover {
    color: var(--color4);
}

.card p {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    background: var(--color5);
    color: var(--cor1);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.card a:hover {
    background: var(--color1);
    color: var(--color4);
}

/*habilidades*/
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    /* ícone em cima, nome embaixo */
    align-items: center;
    /* centraliza horizontalmente */
    justify-content: center;
    width: 100px;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}

.skill p {
    font-weight: 600;
    color: #fcfcfc;
    margin: 0;
    text-align: center;
    transition: color 0.3s ease;
}


.skill:hover {
    transform: scale(1.1);
}

.skill:hover img {
    transform: scale(1.1);
}

.skill:hover p {
    color: var(--color4);
}


#softskills {
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

#softskills ul {
    list-style: none;
}

#tecnologias {
    margin-bottom: 50px;
}

#contato h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}





.menu-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.menu-links li a {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 8px;
    color: #fcfcfc;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-links li a i {
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
}


.menu-links li a:hover {
    color: var(--color4);
}

.menu-links li a:hover i {
    transform: scale(1.2);
    color: var(--color4);
}

.legal {
    margin: auto;
    text-align: center;

}




/* Navbar */
.navbar {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    display: flex;
    gap: 25px;
    padding: 12px 28px;
    z-index: 1000;
}

.nav-link {
    color: var(--color1);
    text-decoration: none;
    font-weight: 500;
    border-radius: 25px;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.nav-link.active {
    background: #fff;
    color: #222;
    font-weight: 600;
    padding: 10px 22px;
}

.nav-link:hover {
    color: var(--color4);
}